<article class="blog-card">
    <div class="blog-card-image">
        {% if include.post.thumbnail %}
            {% assign thumbnail_class = "blog-thumbnail" %}
            {% if include.post.thumbnail_fit == "contain" %}
                {% assign thumbnail_class = "blog-thumbnail blog-thumbnail-contain" %}
            {% endif %}
            <img src="{{ include.post.thumbnail | relative_url }}" alt="{{ include.post.thumbnail_alt | default: include.post.title }}" class="{{ thumbnail_class }}">
        {% elsif include.post.categories contains "RL" %}
            <img src="/images/gymnasium-logo.svg" alt="Reinforcement learning example" class="blog-thumbnail">
        {% else %}
            <img src="/images/flame-logo.png" alt="Flame blog post" class="blog-thumbnail">
        {% endif %}
    </div>
    <div class="blog-card-content">
        <div class="blog-meta">
            {% if include.post.categories and include.post.categories.size > 0 %}
                <span class="blog-category">{{ include.post.categories | first }}</span>
            {% endif %}
            <span class="blog-date">{{ include.post.date | date: "%B %d, %Y" }}</span>
        </div>
        <h3 class="blog-title">
            <a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a>
        </h3>
        <p class="blog-excerpt">
            {% if include.post.description %}
                {{ include.post.description }}
            {% else %}
                {{ include.post.content | strip_html | truncate: 150 }}
            {% endif %}
        </p>
        <a href="{{ include.post.url | relative_url }}" class="read-more">Read More &rarr;</a>
    </div>
</article>
